 <!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
  
    <link rel="stylesheet" href="search.css">
    
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    
</head>

    <!--Main Navigation-->
   <!--Navbar-->
<header class="head">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
<div class="container">
   <a class="navbar-brand" href="#"><img src="1.ico">
   </a> <!--add logo-->


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../index.html" style="color: white; font-weight: 10%;">HOME<span class="sr-only">(current)</span></a>
      </li>
  
       <li class="nav-item">
        <a class="nav-link" href="#" style="color: white; font-weight: 10%;">LOGIN</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#" style="color: white; font-weight: 10%;">REGISTER</a>
      </li>
     </ul>
    
   
  </div>
</div>
</nav>

</header>



<body>
  <div class="loginbox">
    <h1 style="text-align: center;padding: 5px 5px 5px 5px;font-size: 35px;">Search Report</h1>
    <form>
    
            
            
    <b>Equipment Type:&nbsp;&nbsp;&nbsp;</b><select name="product type" style="height:25px;">
                <option value="communication">communication</option>
                <option value=" navigation">navigation</option>
                <option value="surveillance">surveillance</option> <br>
                </select>
                <br>
                <br>

                 <p>Reference ID</p>
            <input type="text" name="" placeholder=" enter your reference id">
                
      <p>Device Name </p>
      <input type="text" name="" placeholder=" enter device name">
      <p>Station Name</p>
      <input type="text" name="" placeholder=" enter station name">
        
      <input type="submit" name="" value="Generate Report">
    </form>
  </div>
     
 
 

 <!--** adding jquery , popper js, bootstrap *****-->
 


</body>
</html>