/* CSS File for index.html */

:root {
  --banner-image-url: url("../images/header.jpg");
  --footer-emptyspace2-color: #008fef;
  --footer-emptyspace2-size: 120px;
}

/* BANNER */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.landing {
  height: 95vh;
}

.landing .image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#index-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#index-banner  h1{
  /*font-family:'Oswald', sans-serif;*/
  font-weight: 350;
  font-size: 80px;
  color:white;
  text-align: center;
  position: relative;
  padding: 2px;
  -webkit-transition:all 200ms ease-in-out;
  -moz-transition:all 200ms ease-in-out;
  -o-transition:all 200ms ease-in-out;
  transition:all 200ms ease-in-out;
}

#index-banner .image{
  filter:brightness(80%);
}

#index-banner .logo-type {
  /*margin: 0 auto;*/
  margin: 0 auto;
  
  max-width: 75%;
  display: block;
}

#index-banner .logo-type-mobile {
  margin: 0 auto;
  max-width: 75%;
  display: none;
}

#index-banner::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #008fef;
  background-image: var(--banner-image-url);
  background-size: cover;
  background-position: center;
  filter: brightness(0.3);
  z-index: -500;
}

#index-banner .gs-button-link {
  margin: 1% ;
  text-align: center;

}

#index-banner .gs-button-orange {
  background-color: transparent;
  padding-top: 20px;
  /* box-shadow: 0 5px 0px #EF6F00; */
  border-radius: 10px;
  box-shadow: 0 0px 0px #008fef;
  border-top: 2px solid #008fef;
  border-right: 2px solid #008fef;
  border-bottom: 2px solid #008fef;
  border-left: 2px solid #008fef;
  background-color: rgba(0, 143, 239, 0);
}
/**/

@media only screen and (max-height: 500px) and (orientation : landscape) {
  #index-banner .gs-button-link {
    display: none;
  }
  #index-banner {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media only screen and (max-width: 420px) {
  #index-banner a {
    padding-top: 40px;
  }

  #index-banner .gs-button {
    padding: 15px 20px;
  }

  #index-banner .gs-button-link {
    width: 75%;
  }

  #index-banner .gs-button-link .gs-button {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media screen and (max-width:800px) {
  #index-banner .logo-type {
    display: none;
  }
  #index-banner .logo-type-mobile {
    display: block;
  }

  #index-banner .scroll-down-button span {
    bottom: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .parallax-container {
    min-height: 250px;
  }
 
  #index-banner .section {
    top: 0;
  }
  .register-button a{
    margin-top: 30%;
  }
}

@media only screen and (max-width: 400px) {
  .parallax-container {
    min-height: 200px;
  }
}
/* BANNER end */


/* AAI SECTION */
#aai {
  background-color: var(--heading-color);
  background: linear-gradient(0deg, rgb(244, 100, 31) 0%, var(--heading-color) 100%);
  position: relative;
  overflow: hidden;
}

#aai .section-heading {
  color: #ffffff;
}

#aai .section-text {
  color: #ffffff;
  padding-right: 150px;
}

#aai .section-back-icon {
  width: 300px;
  position: absolute;
  bottom: 80px;
  right: 150px;
  opacity: 0.15;
}

@media only screen and (max-width: 800px) {
  #aai .section-back-icon {
    width: 280px;
    bottom: 0;
    top: -10px;
    right: -30px;
  }

  #aai .section-text {
    padding-right: 0px;
  }
}
/* AAI SECTION end */


