{% load static %}
<!------------FOOTER SECTION------------------------------------->
  

<footer id="footer-main">
    <div class="footer-main-info">

      <div class="gs-row container footer-main-gs-container">
        <div class="gs-col footer-main-logo">
          <img src="{% static 'images/17.png' %}" class="footer-logo">
        </div>
        <div class="gs-col footer-main-gs-info">
          <h3>Airport Authority Of India</h3>
          <p>AAI has been working since 1994, making the Airway transports reachable throughout the country.</p>
        </div>
      </div>

      <div class="gs-row container footer-main-contact-container">

        <div class="gs-col footer-main-contact">
          <div class="contact-item grid-child item-email">
            <div class="grid-item-title"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>Email</div>
            <div class="grid-item-content">
              <a class="grid-item-content-text underline"
                href="#">PortalPirates@gmail.com</a>
              <img class="grid-item-icon">
            </div>
          </div>
        </div>

      </div>

 <div class="gs-row container footer-main-social-container">
        <div class="gs-col footer-main-social">
          <div class="gs-social-icons-container">
            <!-- Facebook -->
            <a href="#" target="_blank"><button style="max-width: 70px;" class="gs-social-button" ><i
                  class="fab fa-facebook fa-lg"></i></button></a>
            <!-- Twitter -->
            <a href="#" target="_blank"><button style="max-width: 70px;" class="gs-social-button"><i
                  class="fab fa-twitter fa-lg"></i></button></a>
            <!-- Instagram -->
            <a href="#" target="_blank"><button style="max-width: 70px;" class="gs-social-button"><i
                  class="fab fa-instagram fa-lg"></i></button></a>
            <!-- LinkedIn -->
            <a href="#" target="_blank"><button style="max-width: 70px;" class="gs-social-button"><i class="fab fa-linkedin-in fa-lg"></i></button></a>
          </div>
        </div>
      </div>

      <div class="gs-row container">
        <div class="footer-coc">
          <a href="#" class="underline"><i class="fal fa-book-heart"></i>&nbsp;&nbsp;Code of Conduct</a>
        </div>
      </div>
    </div>
  </footer>
   <!--===========================ENDS==============-->






  <!--===== FOOTER COPYRIGHT section =====-->
  <section id="footer-copyright">

    

    <div class="container footer-copyright-info">
      <div class="footer-copyright-item">
        <p style="font-size: 15px;">Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a class="underline" href="#" target="_blank" style="color: yellow;">Portal Pirates</a></p>
      </div>
      <div class="footer-copyright-item" style="  margin: 0; font-size: 20px; line-height: 1.5rem;color: rgba(255, 255, 255, 0.8);text-align: center;">
        Copyright © Airport authority of India. All rights reserved.
      </div>
    </div>
  </section>
  <!--================================ FOOTER v2 end ================================-->


  {%for message in messages%}
	<script>
		alert("{{message}}");
	</script>
	{%endfor%}
  
