{% load static %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>SIH 2020</title>
<meta name="description"
  content= "a website for maintaining the CNS(communication,navigation,surveilence) reports in an effective way." >

<!-- META -->
<meta name="application-name" content="SIH 2020">
<meta name="author" content="SIH 2020">
<meta name="msapplication-tooltip"
  content="a web based application for SIH 2020">
<meta name="apple-mobile-web-app-title" content="SIH 2020">
 <meta name="og:site_name" content="" />
<meta name="og:title" content="" />
<meta name="og:url" content="" /> 
<meta name="og:image" content="{% static '1.ico' %}">

<!-- ICONS -->

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#008fef">



<!-- FONTS -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-ekOryaXPbeCpWQNxMwSWVvQ0+1VrStoPJq54shlYhR8HzQgig1v5fas6YgOqLoKz" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans|Nunito:300,400,700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/common/materialize.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
<link rel="stylesheet" href="{% static 'css/common/nav.css' %}"> <!-- common for all pages -->
<link rel="stylesheet" href="{% static 'css/common/footer.css' %}"> <!-- common for all pages -->
<link rel="stylesheet" href="{% static 'css/common/common.css' %}"> <!-- common for all pages -->
<link rel="stylesheet" href="{% static 'css/index.css' %}"> <!-- only for this page -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
</head>