{% extends 'base.html' %}
{% load static %}

{% block home %}
{% include 'GenericHeader.html' %}

<center>
  <p class="lead">
    <ul>
      <li>
        <p>
          <a class="btn btn-primary btn-lg" href="{%url 'daily'%}" role="button">Daily report</a>
        </p>
      </li>
      <li>
       <p>
        <a class="btn btn-primary btn-lg" href="{%url 'weekly'%}" role="button">Weekly Report</a>
       </p>
      </li>
      <li>
        <p>
        <a class="btn btn-primary btn-lg" href="{%url 'monthly'%}" role="button">Monthly Report</a>
        </p>
      </li>
      <li>
        <p>
        <a class="btn btn-primary btn-lg" href="{%url 'quaterly'%}" role="button">Quaterly Report</a>
        </p>
      </li>
      <li>
        <p>
        <a class="btn btn-primary btn-lg" href="{%url 'sixmonth'%}" role="button">Six Months Report</a>
        </p>
      </li>
      <li>
        <p>
        <a class="btn btn-primary btn-lg" href="{%url 'yearly'%}" role="button">Yearly Report</a>
        </p>
      </li>
    </ul>
  </p>
</center>
{%endblock home%}
