{% extends 'base.html' %}
{% load static %}

{% block home %}
  <div class="loginbox">
    <h1 style="text-align: center;padding: 5px 5px 5px 5px;font-size: 35px;">Search Report</h1>
    <form method="POST">
      {%csrf_token%}      
      <p>Device Name </p>
      <input type="text" name="equipment_name" placeholder="Enter Device Name">
      <p>Model Number</p>
      <input type="text" name="model_number" placeholder="Enter Model Number">
      <p>
        Report Type
      </p>
      <select name="report_type" class="form-control">
        <option selected>Daily Report</option>
        <option>Weekly Report</option>
        <option>Monthly Report</option>
        <option>Six Month Report</option>
        <option>Yearly Report</option>
      </select>
      <hr>
      <hr>
      <input type="submit" name="submit" value="submit">
    </form>
  </div>
     

{%endblock home%}