<!DOCTYPE html>
<html lang="eng">
<head>
	<title>signup model</title>
	 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
   
 


 <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>

   <div class="container">
   	
     
     <button class="btn btn-success" data-toggle="modal" data-target="#mymodal" >SIGNUP</button>

<div class="modal fade" id="mymodal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header">
				<h3 class="type-primary"> SignUp </h3>
				<button type="button" class="close" data-dismiss="modal"> &times;</button>
		   </div>

		   <div class="modal-body">
        <form>
        	<div class="form-group">
        		<label><i class="fas fa-user fa-2x"></i>Username: </label>
        		<input type="text" name=""  placeholder="enter username" class="form-control">
        	</div>
        	
        	<div class="form-group">
        	<label><i class="fas fa-lock fa-2x"></i>Password: </label>
        		<input type="Password" name=""  placeholder="enter password" class="form-control">
            </div>

              <div class="form-group">
          <label><i class="fas fa-envelope fa-2x"></i>Email: </label>
            <input type="email" name=""  placeholder="enter email" class="form-control">
            </div>

          <div class="form-group">
        	<label><i class="fab fa-get-pocket"></i>Choose: </label>
        	<select id="log">
          <option value="Employee">Employee</option>
          <option value="Manager">Manager</option>
          </select>
         </div>
           
        </form>


 </div>

          <div style="text-align: center;">
            <button class="btn btn-danger" data-dismiss="modal" style="position: center;"> SignUp</button><hr>
       <!--      <a href="a">forgot password?</a><br>
            <a href="a">don't have an account?</a> -->
          </div>


</div>
</div>
</div>
</div>





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>








 
</body>
</html>