{% extends 'base.html' %}
{% load static %}

{% block home %}
<div>
    {%if models%}
<div style = "background-color: black; color: whitesmoke;" class="jumbotron jumbotron-fluid">
    <div class="container">
      
        <h5> Equipment Name: &emsp; <span>{{models.equipment_name}}</span></h5>
        <ul>
            <li>
               <h6> Station: &emsp; <span>{{models.Airport_Location}}</span> </h6>
            </li>
            <li>
                <p>Last Updated on: &emsp; <span>{{models.last_updated}}</span></p>
                <p>Modal Number: &emsp; <span>{{models.modal_number}}</span></p>
                <p>Station Name: &emsp; <span>{{models.station_name}}</span></p>
                <p>Equipment Category: &emsp; <span>{{model2}}</span></p>
            </li>
                {%if model2 == 'DVOR'%}
                  <div>
                    <table class="table table-dark">
                        <thead>
                          <tr>
                            <th scope="col">ACTIVITY/COMPONENT</th>
                            <th scope="col">VALUE</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Carrier frequency</th>
                            <td>{{models.Carrier_frequency}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Hz derivation:</th>
                            <td>{{models.Hz_derivation}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Hz modulation depth</th>
                            <td>{{models.Hz_modulation_depth}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Hz modulation frequency</th>
                            <td>{{models.Hz_modulation_frequency}}</td>
                          </tr>
                          <tr>
                            <th scope="row">identification speed</th>
                            <td>{{models.identification_speed}}</td>
                          </tr>
                          <tr>
                            <th scope="row">identification_repetition</th>
                            <td>{{models.identification_repetition}}</td>
                          </tr>
                          <tr>
                            <th scope="row">identification tone frequency</th>
                            <td>{{models.identification_tone_frequency}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Bearing monitor</th>
                            <td>{{models.Bearing_monitor}}</td>
                          </tr>
                        </tbody>
                      </table>
                      {%elif model2 == 'Localizer'%}
                  <div>
                    <table class="table table-dark">
                        <thead>
                          <tr>
                            <th scope="col">ACTIVITY/COMPONENT</th>
                            <th scope="col">VALUE</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Frequency</th>
                            <td>{{models.Frequency}}</td>
                          </tr>
                          <tr>
                            <th scope="row">carrier modulation freq:</th>
                            <td>{{models.carrier_modulation_freq}}</td>
                          </tr>
                          <tr>
                            <th scope="row">carrier module har content:</th>
                            <td>{{models.carrier_module_har_content}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Carrier modulation harm</th>
                            <td>{{models.Carrier_modulation_harm}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Unwanted modulation</th>
                            <td>{{models.Unwanted_modulation}}</td>
                          </tr>
                          <tr>
                              <td>#Transmmitter waveform checks </td>
                          </tr>
                          <tr>
                            <th scope="row">CSB in watt</th>
                            <td>{{models.CSB_in_watt}}</td>
                          </tr>
                          <tr>
                            <th scope="row">SBO</th>
                            <td>{{models.SBO}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Phase CORR</th>
                            <td>{{models.phase_CORR}}</td>
                          </tr>
                          <tr>
                            <th scope="row">LF phase check</th>
                            <td>{{models.LF_phase_check}}</td>
                          </tr>
                          <tr>
                            <th scope="row">RF phase check</th>
                            <td>{{models.RF_phase_check}}</td>
                          </tr>
                          <tr>
                            <td>#DDM/SDM checks</td>
                          </tr>
                          <tr>
                            <th scope="row">DDM check COU</th>
                            <td>{{models.DDM_check_COU}}</td>
                          </tr>
                          <tr>
                            <th scope="row">SDM check COU</th>
                            <td>{{models.SDM_check_COU}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Course ident Mod</th>
                            <td>{{models.Course_ident_Mod}}</td>
                          </tr>
                          <tr>
                              <td>
                                #Output power check with wattmeter
                              </td>
                          </tr>
                          <tr>
                            <th scope="row">Cou Trans out pow</th>
                            <td>{{models.Cou_Trans_out_pow}}</td>
                          </tr>
                          <tr>
                            <th scope="row">CLR Tranns out pow</th>
                            <td>{{models.CLR_Tranns_out_pow}}</td>
                          </tr>
                          <tr>
                            <td> #Monitor delay</td>
                          </tr>
                          <tr>
                            <th scope="row">Monitor delay</th>
                            <td>{{models.Monitor_delay}}</td>
                          </tr>
                        </tbody>
                      </table>
                      {%elif model2 == 'Glid_Path'%}
                  <div>
                    <table class="table table-dark">
                        <thead>
                          <tr>
                            <th scope="col">ACTIVITY/COMPONENT</th>
                            <th scope="col">VALUE</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Frequency</th>
                            <td>{{models.Frequency}}</td>
                          </tr>
                          <tr>
                            <th scope="row">unwanted modulation:</th>
                            <td>{{models.unwanted_modulation}}</td>
                          </tr>
                          <tr>
                            <th scope="row">carrier modulation freq:</th>
                            <td>{{models.carrier_modulation_freq}}</td>
                          </tr>
                          <tr>
                            <th scope="row">carrier modulation homm</th>
                            <td>{{models.carrier_modulation_homm}}</td>
                          </tr>
                          <tr>
                            <th scope="row">phase of modulation system</th>
                            <td>{{models.phase_of_modulation_system}}</td>
                          </tr>
                            </tbody>
                      </table>
                      {%else%}
                      <div>
                      <h1>We have not found any data for your QR..!!!!</h1>
                <p>
                  VERIFIED BY MANAGER &emsp;
                  <span>{{models.verified_by_Manager}}</span>
                </p>
           </div>
           {%endif%}
        </ul>
    </div>
  </div>
{%else%}
<h1>
  <div style = "background-color: black;">
    {% if messages %}
    <p>
        {%for message in messages%}
        <p class="lead">{{message}}</p>
        {%endfor%}
    </p>
    {%endif%}
</div>
</h1>
{%endif%}
</div>

{%endblock home%}
